body{
    font-family:Arial, Helvetica, sans-serif;
}
.sections{
    display: flex;
}
.first_section img{
    display: block;
    width: 1.8rem;
    height: 1.6rem;
    padding-top: 1.5rem;
}
.contentimg img{
    border-radius: 60%;
    margin-bottom: 1.5rem;
}
.second_section{
    width: 80%;
    margin-top: 1rem;
}
.content{
    display: flex;
    border-radius: 4rem;
    border: rgb(33, 33, 33);
    border-width: 8rem;
    margin-left: 9rem;
}
.head{
    margin-left: 0.3rem;
}
.head p{
    line-height: 0.5;
    font-size: 12px;
} 
.head img{
    border-radius: 50%;
    height: 3.5rem;
    width: 3.7rem;
    border-color: black;
    margin-right: 1rem;
}
.content1{
    margin-left: 7rem;
}
.content1 img{
    width: 100%;
}
.third_section{
    margin-left: 14rem;
    margin-top: 2rem;
}
.line{
    display: flex;
    /* margin-right: 7rem; */
}
.line img{
    border-radius: 50%;
    height: 3.5rem;
    width: 3.7rem;
    border-color: black;
    margin-right: 1rem;
}
.line h4{
    color: rgb(93, 93, 93);
}
.text{
    line-height: 0.5;
    padding-right: 8.5rem ;
}
.line h5{
    color: rgb(21, 137, 254);
}
.text p{
    font-size: 12px;
    color: rgb(104, 102, 102);
}
.line1{
    display: flex;
}
.text1{
    color: rgb(203, 203, 203);
}
.line1 h5{
    padding-left: 10.3rem;
}
.line2{
    display: flex;
    margin-right: 12rem;
}
.cartoonimg img{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border-color: black;
    margin-right: 1rem;
    margin-top: 0.7rem;
}
.text2 h4{
    font-size: 14px;
    line-height: 0.06;
}
.text2 p{
    font-size: 12px;
    color: rgb(104, 102, 102);
    line-height: 0.7;
    width: 13.5rem;
}
.line2 h5{
    margin-left: 3rem;
    color: rgb(21, 137, 254);
}
.line3 p{
    color: rgb(191, 191, 191);
    font-size: 12px;
    padding-top: 2rem;
    width: 23rem;
    line-height: 1.6;
    font-weight: 530;
}
.line4 p{
    color: rgb(191, 191, 191);
    font-size: 14.5px;
    padding-top: 0.7rem;
    width: 23rem;
    line-height: 1.6;
    font-weight: 530;
}

